server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/six_degrees?useSSL=false&serverTimezone=Asia/Taipei&allowPublicKeyRetrieval=true
    username: app
    password: app1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
